body {
    margin: 0;
    background-color: rgba(229, 229, 229, 1);
}


/*@font-face {
    font-family: "Montserrat-Medium";
    font-style: medium;
    src: url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Bold";
    font-style: bold;
    src: url("/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Regular";
    font-style: regular;
    src: url("/fonts/Montserrat-Regular.woff") format("woff");
}*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
#attr {
    color: rgba(4, 153, 221, 1);
}

#tours {
    color: black;
}


/*-----------media-zapros-------------*/

@media (max-width: 900px) {
    #tours {
        color: rgb(0, 0, 0);
    }
    #main {
        color: white;
    }
}

.t1 .left {
    background-image: url(../image/Brest_fortr_small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    width: 30%;
    border-radius: 10px 0 0 10px;
}

.t2 .left {
    background-image: url(../image/Bel_puscha_small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 30%;
    border-radius: 10px 0 0 10px;
}

.t3 .left {
    background-image: url(../image/mir_small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    width: 30%;
    border-radius: 10px 0 0 10px;
}

.t4 .left {
    background-image: url(../image/hatin_small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    width: 30%;
    border-radius: 10px 0 0 10px;
}

@media (max-width: 591px) {
    .t1 .left {
        background-image: url(../image/Brest_kr.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40% 80%;
        width: 100%;
        height: 45%;
        border-radius: 10px 10px 0 0;
    }
    .t2 .left {
        background-image: url(../image/bel_puscha.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40% 80%;
        width: 100%;
        height: 240px;
        border-radius: 10px 10px 0 0;
    }
    .t3 .left {
        background-image: url(../image/mirskii-zamok.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40% 80%;
        width: 100%;
        height: 240px;
        border-radius: 10px 10px 0 0;
    }
    .t4 .left {
        background-image: url(../image/hatin.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40% 20%;
        width: 100%;
        height: 240px;
        border-radius: 10px 10px 0 0;
    }
}